server {
    listen 80 default_server;
    listen [::]:80 default_server;
    root /sinking-islands/build;
    index index.html;
    server_name _;
    location / {
        try_files $uri $uri/ =404;
    }
    location /backend {
        proxy_pass http://localhost:5151;
    }
    location /socket.io {
        proxy_pass http://localhost:5151;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
