body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#root {
    min-height: 96vh;
}

img {
    max-width: 100%;
}

table {
    border-collapse: collapse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-offset {
    0% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(-405deg);
    }
}
